---
layout: default
title: Home Page of Designer
javascript_name: home
permalink: /
---

<section class="container-fluid home-page">
  <div class="row">
    <div class="col-md-6 title-section">
      <div class="title-background bgc-primary" animate></div>
      <h1>Jovan<br>Savic</h1>
    </div>
    <div class="col-md-6 decription-section">
      <div>
        <h2 animate><strong>UI/UX Designer</strong><br> and Front-End Developer</h2>
        <p animate>“Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it’s really how it works.”</p>
        <a href="{{site.baseurl}}/portfolio" class="btn btn-outline-secondary" animate><span>All projects</span></a>
        <a href="{{site.baseurl}}/about" class="btn-link" animate>About me</a>
      </div>
      <div class="profile-container">
        <div class="social-profiles">
          <a href="{{site.facebook-link}}" target="_blank">{% include svg/fb.svg %}</a>
          <a href="{{site.instagram-link}}" target="_blank">{% include svg/insta.svg %}</a>
          <a href="{{site.twitter-link}}" target="_blank">{% include svg/twitter.svg %}</a>
        </div>
        <div class="profile-image"></div>
      </div>
    </div>
  </div>
</section>