---
layout: default
title: Look at Work
javascript_name: portfolio
permalink: /portfolio/
---

<section class="container-fluid portfolio-page">
    <div class="row">
        <div class="col-md-6 title-section" animate>
            <div class="title-background bgc-secondary" animate></div>
            <div class="title-section-wrap">
                <h1>My latest<br>project</h1>

                <div class="project-wrap" animate>
                    {% assign sorted_projects = (site.projects | sort: 'place') | reverse %}
                    {% for project in sorted_projects limit: 1 %}

                    <div class="project-thumbnail" style="background-image: url('{{site.baseurl}}/assets/img/project-thumbnails/{{project.thumbnail}}')"></div>
                    <h3>{{project.name}}</h3>
                    <a href="{{site.baseurl}}{{project.url}}" class="btn-link" animate>View project</a>

                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="col-md-6 decription-section">
            <div class="explanation">
                <h3>Portfolio</h3>
                <p>(Slide project to left to read quick description.)</p>
            </div>
            <div class="projects-loop">
                {% assign sorted_projects = (site.projects | sort: 'place') | reverse %}
                {% for project in sorted_projects %}
                {% if forloop.first != true %}
                <a href="{{site.baseurl}}{{project.url}}" animate-delay>
                <div class="project" data-project-number="1">
                    <div class="thumbnail" style="background-image: url('{{site.baseurl}}/assets/img/project-thumbnails/{{project.thumbnail}}')"></div>
                    <div class="text-wrap">
                        <strong>{{project.tag}}</strong>
                        <h2>{{project.name}}</h2>
                        <div class="description"><p>{{project.description}}</p></div>
                    </div>
                </div>
                </a>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>