.about-page
  overflow: hidden
  .title-section
    background-image: url(../img/about-image.png)
    background-size: cover
    background-position: center
    transition: 3s
    opacity: 0
    transform: translate(-50%)
    &.active
      opacity: 1
      transform: translate(0%)
    .title-background
      opacity: 0.1
      width: 100%
  h1
    text-align: left

@media (max-width: 767px)
  .about-page
    .title-section
      background-position: top